body {
    width: 100%;
    background-color: rgb(250, 252, 250);
}
a {
    text-decoration: none;
}

h1 { 
    padding-left: 10px;
}

#catalogueteddy,
#produit {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    color: rgb(0, 0, 0);

}


article {
    position: relative;

    margin-right: auto;
    margin-bottom: 30px;
    margin-left: auto;

    width: 100%;

    text-align: center;

    h1 { 
        padding-left: 20px;
    }

    h3.name {
        text-align: left;
        padding-left: 30px;
        font-size: 1.5rem;
    }

    #ajoutpanier {
        position: absolute;
        font-size: 1.3rem;
        color: #000;
        border-radius: 10px;
        background-color: rgb(167, 167, 167);
       
        padding-left: 15px;
        padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
        box-shadow: 0px 5px 5px 0px #222222;
    }




    img.img {
        top: 0px;
        left: 0px;
        position: relative;
        box-shadow:2px 2px 2px 2px #222222;
        border-radius: 5px;
        width: 90%;
        height: auto;
        object-fit: cover;
    }

    .price {
        font-size: 1.5rem;
        font-weight: 900;

        position: relative;
        top: -50px;
        text-align: right;
        padding-right: 50px;
    }

    .description {
        font-size: 1.2rem;
        position: relative;
        top: -50px;
        margin-left: 5px;
        margin-right: 5px;
    }

   

    select {
        position: relative;
        top: -50px;
        font-size: 1.2rem;
    }


   .link {
        font-size: 1.3rem;
        color: #000;
        position: relative;
        top: -30px;
        background-color: rgb(167, 167, 167);
        border-radius: 10px;
        padding-left: 15px;
        padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
        box-shadow: 0px 5px 5px 0px #222222;

    }



}

#catalogueteddy {

    .teddyArticle {
 
        p.description {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

}
}





/**page panier*****************panier***************/
.card-produit {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-left: 10px;
    margin-right: 10px;
}